@charset "utf-8";
/* css 첫줄은(각 페이지마다) 인코딩 선언을 해야한다. 빈줄이면 안된다. */
/* @import로 불러왔다면? */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 브라우저에 따라 디폴트 값이 흰색이 아닐 수도 있다.*/
  background-color: #fff; 
}
/* 컨테이너 */
.container {
  height: 100vh;
  background-color: gray;
  /* 속기법 단축 표기법 */
  /* border: 10px solid #000; */
  /* 
    border-width, 
    border-style,
    border-color 이것도 사실 속기법이다.
  */
  /* 
    border-top-with, 
    border-right-width, 
    border-bottom-width, 
    border-left-width 
    (시계방향)
  */
  /* padding: 50px; */
  /*
    padding-top,
    padding-right...
  */
  /* margin: 0 auto;  */
  /* margin도 컨테이너 박스의 넓이지만 투명한 영역인 것이다. */
  /* 
    auto를 넣을 경우 가운데 정렬된 것처럼 보이지만 사실 투명한 영역이(margin) 나머지를 차지하고 있는 것이다. 
    블록으로 영역을 다 차지하고 있어서 다른 요소가 올라오지 못하는 것
  */
  /* 속기법: 위,아래 - 좌, 우*/
}
/* 레이아웃공통 */
.header, .main, .slogan {
  width: 1000px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background-color: yellow;
}
/* 네비게이션 */
.navigation {
  height: 10vh;
  background-color: lime;
}
/* 메인 콘텐츠 */
.main {
  display: flex;
  /* flex-direction: row || row-reverse || column || column-reverse */
  /* flex-direction: row;  */
  /* nowrap (default) */
  /* flex-wrap: wrap; */
  /* direction wrap 의 속기법*/
  flex-flow: row wrap;
  justify-content: space-between; /* 남아있는 여백을 알아서 만들어줌 */
  /* align-items: center; */
  /* align-content: space-between; */
  height: 60vh;
  background-color: pink;
}
.main section {
  /* width: 400px; */
  /* height: 10vh; */
  height: 30vh;
  background-color: teal;
}
.recommend-book {
  width: 350px;
}
.news {
  width: 650px;
} 
.board {
  width: 350px;
}
.main .favorite-site {
  order: 1;
  width: 250px;
  background-color: red;
}
.twitter {
  width: 400px;
}
.slogan {
  height: 10vh;
  background-color: orange;
}
.footer {
  height: 10vh;
  background-color: skyblue;
}

