@charset "utf-8";
/* css 첫줄은(각 페이지마다) 인코딩 선언을 해야한다. 빈줄이면 안된다. */
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css); */
@import url("normalize.css");
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700'); */
@import url("fonts.css");

/* 초기화 스타일 */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.main {
  display: block;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 숨김콘텐츠 */
/* a11y-hidden .readable-hidden 식으로 클래스를 준다 */
legend, .a11y-hidden {
  background-color: red;
  /* display: none; */
  /* visibility: hidden; */
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
/* 기본 스타일 */
body {
  /* 브라우저에 따라 디폴트 값이 흰색이 아닐 수도 있다.*/
  background-color: #fff; 
  color: #181818; /* #000 브라우저마다 촌스러워 보이는 색깔이라는 이야기가 있움;; */
  font-family: 'Noto Sans Regular', sans-serif;
}
/* 컨테이너 */
.container {
  height: 100vh;
  background-color: gray;
  /* 속기법 단축 표기법 */
  /* border: 10px solid #000; */
  /* 
    border-width, 
    border-style,
    border-color 이것도 사실 속기법이다.
  */
  /* 
    border-top-with, 
    border-right-width, 
    border-bottom-width, 
    border-left-width 
    (시계방향)
  */
  /* padding: 50px; */
  /*
    padding-top,
    padding-right...
  */
  /* margin: 0 auto;  */
  /* margin도 컨테이너 박스의 넓이지만 투명한 영역인 것이다. */
  /* 
    auto를 넣을 경우 가운데 정렬된 것처럼 보이지만 사실 투명한 영역이(margin) 나머지를 차지하고 있는 것이다. 
    블록으로 영역을 다 차지하고 있어서 다른 요소가 올라오지 못하는 것
  */
  /* 속기법: 위,아래 - 좌, 우*/
}
/* 레이아웃공통 */
.header, .main, .slogan {
  width: 1000px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background-color: #fff;
  padding: 0 0 10px 0;
  /* 벤더 프리픽스는 원래 속성 보다 먼저 쓴다. */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
  -ms-grid-rows: 50px 50px;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50px 50px;
}
/* 로고 */
.logo {
  margin: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  /* grid-row: 1 / span 2; */
  background-color: darkgoldenrod;
}
.logo a, .logo img {
  display: block;
}
.member {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  background-color: red;
}
.member li {

}
/* .member li::before {
  content: "|"
}
.member li:first-child::before {
  content: '';
} */
/* dom 트리에 액세스할 때 생략할 수 있는 단계는 생략해주자
  .member li a -> .member a */
.member a {

}
/* 검색폼 */
.search-form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: tan;
}
.search-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
input[type="search"] {
  height: 35px;
  width: 400px;
  padding: 2px 2px 2px 10px;
  /* 
    border에서 입체감을 느끼게 하는 서식은 
    브라우저마다 렌더링이 다르다. 
  */
  border: 1px solid #666;
  /* border-radius: 10px 0 10px 0; */
  border-radius: 50px;
}
.btn-search{
  width: 50px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #666;
  color: #fff;
  background-color: #988;
}

/* 네비게이션 */
.navigation {
  height: 10vh;
  background-color: lime;
}
/* 메인 콘텐츠 */
.main {
  /* display: flex; */
  /* flex-direction: row || row-reverse || column || column-reverse */
  /* flex-direction: row;  */
  /* nowrap (default) */
  /* flex-wrap: wrap; */
  /* direction wrap 의 속기법*/
  /* flex-flow: row wrap; */
  /* 남아있는 여백을 알아서 만들어줌 */
  /* justify-content: space-between;  */
  /* align-items: center; */
  /* align-content: space-between; */
  background-color: pink;
  /* 1. float된 요소의 높이를 인식하게 되는 트릭 */
  /* overflow: scroll; */
  /* 4. float 주기 */
  /* float: left; */
}
.clearfix::after {
  content: '';
  clear: both;
  /* 인라인 요소는 마진값을 줄 수 없으므로 */
  display: block;
}
/* .clear {
  clear: both;
} */
.main section {
  /* width: 400px; */
  height: 30vh;
}
.recommend-book {
  width: 350px;
  background-color: teal;
  float: left;
  /* height: 400px; */
}
.news {
  float: left;
  width: 650px;
  background-color: tan;
} 
.board {
  float: left;
  width: 350px;
  background: skyblue;
}
.main .favorite-site {
  /* order: 1; */
  float: right;
  width: 250px;
  background-color: red;
}
.twitter {
  float: left;
  width: 400px;
  background-color: blueviolet;
}
.slogan {
  margin-top: 20px;
  clear: left;
  height: 10vh;
  background-color: orange;
}
.footer {
  height: 10vh;
  background-color: skyblue;
}